.back {
  @include flexbox();
  margin: 20px auto 10px;
  padding: 7px;
  background-color: darken($orange-color, 10%);
  border: 2px solid darken($orange-color, 10%);
  border-radius: 25px;
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
  &__icon {
    padding-right: 7px;
    font-size: 2.5rem;
  }
}
.movie {
  @include flexbox(column);
  width: 85vw;
  margin: 30px auto 20px;
  padding: 0 15px 15px;
  border: 2px solid $pink-color;
  background-color: lighten($pink-color, 26%);
  &__title {
    font-size: 2.5rem;
    margin: -15px 0 5px;
    padding: 0 5px;
    background-color: white;
    border-radius: $border-radius;
    color: $pink-color;
  }
  &__type {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__poster {
    width: 70%;
    box-shadow: 0 0 6px 3px #ddd;
  }
  &__description {
    margin: 10px 0 10px;
    font-size: 1.3rem;
    text-align: justify;
    font-weight: bold;
  }
  &__user-rate-title {
    margin-bottom: 6px;
  }
  &__user-rate {
    button {
      width: 60px;
      background-color: darken($orange-color, 10%);
      border: 2px solid darken($orange-color, 10%);
      color: white;
      border-radius: 15px;
    }
  }
  &__information,
  &__rates,
  &__user-rate {
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
    p {
      margin-top: 7px;
    }
  }
  span {
    font-weight: bold;
    color: darken($orange-color, 20%);
  }
}
