.search {
  z-index: 3;
  @include position($top: 75vh, $height: 20vh);
  @include flexbox();
  @include media-query(xxsmall, $portrait) {
    top: 73vh;
  }
  @include media-query(xsmall, $portrait) {
    top: 70vh;
  }
  @include media-query(small, $portrait) {
    flex-direction: column;
    top: 70vh;
  }
  @include media-query(medium, $portrait) {
    flex-direction: column;
  }
  @include media-query(large, $landscape) {
    flex-direction: column;
    top: 68vh;
  }
  @include media-query(large, $portrait) {
    top: 65vh;
  }
  @include media-query(xxlarge, $landscape) {
    flex-direction: row;
  }
  &__input {
    @include input-button-style(3.5rem, 1.5rem, $input-border-half);
    width: 55%;
    padding-left: 10px;
    border: 2px solid $orange-color;
    @include media-query(xxsmall, $portrait) {
      @include input-button-style(3.8rem, 1.7rem, $input-border-half);
    }
    @include media-query(xsmall, $portrait) {
      @include input-button-style(3.9rem, 1.8rem, $input-border-half);
    }
    @include media-query(small, $portrait) {
      @include input-button-style(4.7rem, 2.2rem, $border-radius);
      margin-bottom: 20px;
      width: 70%;
    }
    @include media-query(medium, $portrait) {
      @include input-button-style(5rem, 2.4rem, $border-radius);
      margin-bottom: 30px;
      width: 70%;
    }
    @include media-query(large, $landscape) {
      @include input-button-style(5rem, 2.4rem, $border-radius);
      margin-bottom: 20px;
      width: 70%;
    }
    @include media-query(large, $portrait) {
      @include input-button-style(6.3rem, 2.4rem, $border-radius);
      margin-bottom: 40px;
    }
    @include media-query(xxlarge, $landscape) {
      @include input-button-style(4.5rem, 2.4rem, $input-border-half);
      margin-bottom: 0;
      width: 50%;
    }
    &::placeholder {
      font-size: 1.6rem;
      font-weight: 600;
      @include media-query(xxsmall, $portrait) {
        font-size: 1.7rem;
      }
      @include media-query(xsmall, $portrait) {
        font-size: 1.8rem;
        line-height: 1;
      }
      @include media-query(small, $portrait) {
        font-size: 2.2rem;
        letter-spacing: 2px;
      }
      @include media-query(medium, $portrait) {
        font-size: 2.4rem;
      }
      @include media-query(large, $portrait) {
        font-size: 3rem;
        letter-spacing: 2px;
      }
      @include media-query(xxlarge, $landscape) {
        font-size: 1.8rem;
        letter-spacing: 2px;
      }
    }
    &:focus {
      outline: none;
      border: 3px solid darken($orange-color, 20%);
    }
  }
  &__btn {
    @include input-button-style(3.5rem, 1.6rem, $btn-border-half);
    width: 25%;
    @include media-query(xxsmall, $portrait) {
      @include input-button-style(3.8rem, 1.7rem, $btn-border-half);
      font-weight: 600;
    }
    @include media-query(xsmall, $portrait) {
      @include input-button-style(3.9rem, 1.9rem, $btn-border-half);
      font-weight: 600;
    }
    @include media-query(small, $portrait) {
      @include input-button-style(4.7rem, 2.2rem, $border-radius);
      letter-spacing: 2px;
    }
    @include media-query(medium, $portrait) {
      @include input-button-style(5rem, 2.4rem, $border-radius);
    }
    @include media-query(large, $landscape) {
      @include input-button-style(5rem, 2rem, $border-radius);
      width: 20%;
      letter-spacing: 2px;
      font-weight: bold;
    }
    @include media-query(large, $portrait) {
      @include input-button-style(6.3rem, 3rem, $border-radius);
      letter-spacing: 2px;
    }
    @include media-query(xxlarge, $landscape) {
      @include input-button-style(4.5rem, 1.6rem, $btn-border-half);
      margin-bottom: 0;
      width: 10%;
    }
  }
}
