.header {
  position: relative;
  height: 100vh;
  background-image: url("../images/header-img-640x400.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  &__color-opacity {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
  }
  &__container {
    @include position($height: 75vh);
    @include flexbox(column, space-evenly);
    color: white;
    text-align: center;
    @include media-query(medium, $portrait) {
      height: 72vh;
    }
  }
  &__title {
    margin: 20px 5vw 0;
    font-family: "Bungee Outline", cursive;
    font-size: 4rem;
    line-height: 1;
    text-shadow: 0px 0px 10px $pink-color;
    @include media-query(xxsmall, $portrait) {
      font-size: 4.8rem;
    }
    @include media-query(xsmall, $portrait) {
      font-size: 5rem;
    }
    @include media-query(small, $portrait) {
      font-size: 7rem;
      line-height: 1.5;
      letter-spacing: 4px;
    }
    @include media-query(medium, $portrait) {
      font-size: 8rem;
      line-height: 1.5;
    }
    @include media-query(large, $landscape) {
      font-size: 7rem;
    }
  }
  &__desc {
    width: 80%;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 2px;
    @include media-query(xxsmall, $portrait) {
      font-size: 1.5rem;
    }
    @include media-query(xsmall, $portrait) {
      font-size: 1.6rem;
    }
    @include media-query(small, $portrait) {
      font-size: 1.9rem;
      span {
        display: block;
        margin-bottom: 30px;
        &:nth-child(3),
        &:nth-child(4) {
          font-size: 2.4r;
          font-weight: 600;
        }
      }
    }
    @include media-query(medium, $portrait) {
      font-size: 2.2rem;
      span {
        display: block;
        margin-bottom: 10px;
      }
    }
    @include media-query(large, $landscape) {
      span {
        display: block;
        margin-bottom: 20px;
        font-size: 1.6rem;
        &:nth-child(3),
        &:nth-child(4) {
          font-size: 1.8rem;
          font-weight: 600;
        }
      }
    }
    @include media-query(large, $portrait) {
      span {
        display: block;
        margin-bottom: 50px;
        font-size: 2rem;
        &:nth-child(3),
        &:nth-child(4) {
          font-size: 2.4rem;
          font-weight: 600;
        }
      }
    }
  }
}
