@mixin media-query($breakpoint, $orientation) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media ($orientation) and ($size) {
      @content;
    }
  } @else {
    @error "Nie rozpoznaję tej wielkości";
  }
}

@mixin input-button-style($height, $font-size, $border-radius) {
  height: $height;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin flexbox(
  $flex-direction: row,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin position(
  $position: absolute,
  $top: 0,
  $left: 0,
  $height: 100%,
  $width: 100%
) {
  position: $position;
  top: $top;
  left: $left;
  height: $height;
  width: $width;
}
