@mixin media-query($breakpoint, $orientation) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media ($orientation) and ($size) {
      @content;
    }
  } @else {
    @error "Nie rozpoznaję tej wielkości";
  }
}

@mixin desc-style(
  $font-size: inherit,
  $margin-bottom: 0,
  $span-font-size: inherit
) {
  font-size: $font-size;
  span {
    display: block;
    margin-bottom: $margin-bottom;
    &:nth-child(3),
    &:nth-child(4) {
      font-size: $span-font-size;
      font-weight: 600;
    }
  }
}

@mixin input-button-style($height, $font-size, $border-radius) {
  height: $height;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin flexbox(
  $flex-direction: row,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin grid-movie-landscape(
  $display,
  $repeat-columns,
  $repeat-rows,
  $size,
  $place
) {
  display: $display;
  grid-template-columns: repeat($repeat-columns, $size);
  grid-template-rows: repeat($repeat-rows, $size);
  place-items: $place $place;
}

@mixin position(
  $position: absolute,
  $top: 0,
  $left: 0,
  $height: 100%,
  $width: 100%
) {
  position: $position;
  top: $top;
  left: $left;
  height: $height;
  width: $width;
}
