.movies {
  list-style: none;
  @include media-query(medium, $portrait) {
    @include flexbox();
    flex-wrap: wrap;
  }
  @include media-query(large, $landscape) {
    @include flexbox();
    flex-wrap: wrap;
  }
  &__container {
    position: relative;
    @include flexbox(column, space-evenly, center);
    flex-wrap: wrap;
    margin: 40px auto;
    height: 85vh;
    width: 90%;
    border: $orange-color 2px solid;
    padding: 5px;
    @include media-query(xsmall, $portrait) {
      border-width: 3px;
      width: 85%;
      height: 85vh;
    }
    @include media-query(xsmall, $landscape) {
      @include grid-movie-landscape();
    }
    @include media-query(small, $landscape) {
      margin-top: 20px;
      @include grid-movie-landscape();
    }
    @include media-query(medium, $portrait) {
      flex-basis: 42%;
      height: 55vh;
    }
    @include media-query(medium, $landscape) {
      width: 80%;
    }
    @include media-query(large, $landscape) {
      flex-basis: 42%;
      @include flexbox(column, space-evenly, center);
    }
    @include media-query(xlarge, $landscape) {
      flex-basis: 30%;
      height: 70vh;
    }
    @include media-query(xxlarge, $landscape) {
      flex-basis: 28%;
      height: 83vh;
      margin-top: 30px;
    }
  }
  &__title {
    font-size: 2.5rem;
    margin-top: 10px;
    text-align: center;
    @include media-query(xsmall, $portrait) {
      font-size: 2.7rem;
    }
    @include media-query(small, $landscape) {
      font-size: 3rem;
    }
    @include media-query(xlarge, $landscape) {
      font-size: 2.5rem;
      margin-top: 0;
    }
    @include media-query(xxlarge, $landscape) {
      margin-top: 10px;
    }
  }
  &__type {
    position: absolute;
    top: -6px;
    padding: 0 10px;
    font-size: 1.2rem;
    background-color: white;
    color: darken($orange-color, 20%);
    letter-spacing: 2px;
    font-weight: bold;
    @include media-query(xsmall, $portrait) {
      font-size: 1.4rem;
      top: -7px;
    }
    @include media-query(small, $landscape) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__year {
    font-size: 1.7rem;
    @include media-query(small, $landscape) {
      font-size: 2rem;
    }
  }
  &__poster {
    height: 60%;
    max-width: 80%;
    box-shadow: 0 0 6px 4px #ddd;
    @include media-query(xsmall, $landscape) {
      @include grid-settings();
    }
    @include media-query(small, $landscape) {
      @include grid-settings();
    }
    @include media-query(medium, $portrait) {
      height: 50%;
    }
    @include media-query(large, $landscape) {
      height: 60%;
    }
  }
  &__btn {
    width: 40%;
    @include input-button-style($basic-height, 1.4rem, $border-radius);
    @include media-query(xxsmall, $portrait) {
      @include input-button-style($xxsmall-height, 1.5rem, $border-radius);
      font-weight: bold;
    }
    @include media-query(small, $landscape) {
      width: 55%;
    }
  }
  &__rate-and-send {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  &__btn--rate {
    flex-basis: 30%;
    margin-left: 15px;
    text-transform: uppercase;
    background-color: white;
    background-image: none;
    border: 3px solid darken($orange-color, 10%);
    color: darken($orange-color, 10%);
    font-weight: bold;
    letter-spacing: 2px;
  }
  &__rate-sent {
    height: $basic-height;
    text-align: center;
    line-height: $basic-height;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: bold;
    color: darken($orange-color, 15%);
  }
  &__stars {
    display: flex;
    height: $basic-height;
    font-size: 2.5rem;
    list-style: none;
    color: darken($orange-color, 20%);
    @include media-query(xxsmall, $portrait) {
      height: $xxsmall-height;
      font-size: 2.7rem;
    }
  }
}
