.movies {
  // @include flexbox(column, center, center);
  list-style: none;
  &__container {
    position: relative;
    @include flexbox(column, space-evenly, center);
    flex-wrap: wrap;
    margin: 40px auto;
    height: 90vh;
    width: 90%;
    border: $orange-color 2px solid;
  }
  &__title {
    font-size: 2.5rem;
    margin-top: 10px;
    text-align: center;
  }
  &__type {
    position: absolute;
    top: -6px;
    padding: 0 10px;
    font-size: 1.2rem;
    background-color: white;
    color: darken($orange-color, 20%);
    letter-spacing: 2px;
    font-weight: bold;
  }
  &__year {
    font-size: 1.7rem;
  }
  &__poster {
    height: 60%;
    box-shadow: 0 0 6px 4px #ddd;
  }
  &__btn {
    width: 40%;
    height: 30px;
  }
  &__stars {
    display: flex;
    height: 30px;
    font-size: 2.5rem;
    list-style: none;
    color: darken($orange-color, 20%);
  }
  &__star {
    display: block;
  }
}
