.search-bar {
  @include position(fixed, $height: 10vh);
  z-index: 1;
  background-color: white;
  @include media-query(xsmall, $landscape) {
    height: 20vh;
  }
  @include media-query(large, $landscape) {
    height: 15vh;
  }
  @include media-query(xlarge, $landscape) {
    height: 12vh;
  }
  &__container {
    @include flexbox(row, center, center);
    height: 100%;
    box-shadow: 0 0 6px 10px #ddd;
  }
  &__logo {
    flex-basis: 25%;
    margin-left: 10px;
    font-family: "Bungee Outline", cursive;
    font-size: 2.3rem;
    color: $pink-color;
    text-shadow: 0 0 4px #ddd;
    text-align: center;
    @include media-query(xsmall, $landscape) {
      font-size: 3rem;
    }
    @include media-query(xsmall, $portrait) {
      font-size: 2.8rem;
    }
    @include media-query(medium, $portrait) {
      font-size: 4rem;
      flex-basis: 22%;
    }
    @include media-query(large, $landscape) {
      font-size: 5rem;
    }
    @include media-query(large, $portrait) {
      font-size: 5.2rem;
    }
  }
  & .search {
    position: inherit;
    height: 100%;
    flex-basis: 75%;
    @include media-query(medium, $portrait) {
      flex-direction: row;
    }
    @include media-query(large, $landscape) {
      flex-direction: row;
    }
    &__input {
      @include input-button-style(25px, 1.2rem, $input-border-half);
      &::placeholder {
        font-size: 1.2rem;
        @include media-query(xsmall, $landscape) {
          font-size: 1.4rem;
        }
        @include media-query(xsmall, $portrait) {
          font-size: 1.5rem;
        }
        @include media-query(large, $landscape) {
          font-size: 1.8rem;
        }
        @include media-query(large, $portrait) {
          font-size: 1.8rem;
        }
      }
      @include media-query(xsmall, $landscape) {
        @include input-button-style($basic-height, 1.4rem, $input-border-half);
      }
      @include media-query(xsmall, $portrait) {
        @include input-button-style(33px, 1.6rem, $input-border-half);
      }
      @include media-query(medium, $portrait) {
        margin-bottom: 0;
        width: 60%;
      }
      @include media-query(large, $landscape) {
        margin-bottom: 0;
        width: 60%;
        @include input-button-style(40px, 1.8rem, $input-border-half);
      }
      @include media-query(large, $portrait) {
        @include input-button-style(40px, 1.8rem, $input-border-half);
      }
    }
    &__btn {
      @include input-button-style(25px, 1.2rem, $btn-border-half);
      @include media-query(xsmall, $landscape) {
        @include input-button-style($basic-height, 1.4rem, $btn-border-half);
      }
      @include media-query(xsmall, $portrait) {
        @include input-button-style(33px, 1.5rem, $btn-border-half);
      }
      @include media-query(large, $landscape) {
        @include input-button-style(40px, 1.8rem, $btn-border-half);
      }
      @include media-query(large, $portrait) {
        @include input-button-style(40px, 1.8rem, $btn-border-half);
      }
    }
  }
}
