$breakpoints: (
  xxsmall: "min-width:359px",
  xsmall: "min-width: 410px",
  small: "min-width: 639px",
  medium: "min-width: 767px",
  large: "min-width: 1023px",
  xlarge: "min-width: 1199px",
  xxlarge: "min-width: 1439px",
);

//screen orientations
$landscape: "orientation:landscape";
$portrait: "orientation:portrait";

//colors
$pink-color: #d57eeb;
$orange-color: #fccb90;
$gradient-color: linear-gradient(120deg, $orange-color 0%, $pink-color 100%);

//border
$input-border-half: 10px 0 0 10px;
$btn-border-half: 0 10px 10px 0;
$border-radius: 10px;

//background images
$header-img-small: "../images/header-img-640x400.jpg";
$header-img-medium: "../images/header-img-1280x800.jpg";
$header-img-large: "../images/header-img-1920x1200.jpg";
