@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 10px;
}

.header {
  position: relative;
  height: 100vh;
  background-image: url("../images/header-img-640x400.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

@media (orientation: portrait) and (min-width: 639px) {
  .header {
    background-image: url("../images/header-img-1280x800.jpg");
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .header {
    background-image: url("../images/header-img-1280x800.jpg");
  }
}

@media (orientation: portrait) and (min-width: 1199px) {
  .header {
    background-image: url("../images/header-img-1920x1200.jpg");
  }
}

@media (orientation: landscape) and (min-width: 1199px) {
  .header {
    background-image: url("../images/header-img-1920x1200.jpg");
  }
}

.header__color-opacity {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
}

.header__container {
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
}

@media (orientation: portrait) and (min-width: 767px) {
  .header__container {
    height: 72vh;
  }
}

.header__title {
  margin: 20px 5vw 0;
  font-family: "Bungee Outline", cursive;
  font-size: 4rem;
  line-height: 1;
  text-shadow: 0px 0px 10px #d57eeb;
}

@media (orientation: portrait) and (min-width: 359px) {
  .header__title {
    font-size: 4.8rem;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .header__title {
    font-size: 5rem;
  }
}

@media (orientation: portrait) and (min-width: 639px) {
  .header__title {
    font-size: 7rem;
    line-height: 1.5;
    letter-spacing: 4px;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .header__title {
    font-size: 8rem;
    line-height: 1.5;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .header__title {
    font-size: 7rem;
  }
}

.header__desc {
  width: 80%;
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: 2px;
}

.header__desc span {
  display: block;
  margin-bottom: 10px;
}

.header__desc span:nth-child(3), .header__desc span:nth-child(4) {
  font-size: 1.35rem;
  font-weight: 600;
}

@media (orientation: portrait) and (min-width: 359px) {
  .header__desc {
    font-size: 1.5rem;
  }
  .header__desc span {
    display: block;
    margin-bottom: 10px;
  }
  .header__desc span:nth-child(3), .header__desc span:nth-child(4) {
    font-size: 1.7rem;
    font-weight: 600;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .header__desc {
    font-size: 1.6rem;
  }
  .header__desc span {
    display: block;
    margin-bottom: 10px;
  }
  .header__desc span:nth-child(3), .header__desc span:nth-child(4) {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

@media (orientation: portrait) and (min-width: 639px) {
  .header__desc {
    font-size: 1.9rem;
  }
  .header__desc span {
    display: block;
    margin-bottom: 30px;
  }
  .header__desc span:nth-child(3), .header__desc span:nth-child(4) {
    font-size: 2.1rem;
    font-weight: 600;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .header__desc {
    font-size: 2rem;
  }
  .header__desc span {
    display: block;
    margin-bottom: 10px;
  }
  .header__desc span:nth-child(3), .header__desc span:nth-child(4) {
    font-size: 2.2rem;
    font-weight: 600;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .header__desc {
    font-size: 1.6rem;
  }
  .header__desc span {
    display: block;
    margin-bottom: 20px;
  }
  .header__desc span:nth-child(3), .header__desc span:nth-child(4) {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .header__desc {
    font-size: 2.2rem;
  }
  .header__desc span {
    display: block;
    margin-bottom: 50px;
  }
  .header__desc span:nth-child(3), .header__desc span:nth-child(4) {
    font-size: 2.4rem;
    font-weight: 600;
  }
}

.search {
  position: absolute;
  top: 75vh;
  left: 0;
  height: 20vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (orientation: portrait) and (min-width: 359px) {
  .search {
    top: 73vh;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .search {
    top: 70vh;
  }
}

@media (orientation: portrait) and (min-width: 639px) {
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 70vh;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 68vh;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .search {
    top: 65vh;
  }
}

@media (orientation: landscape) and (min-width: 1439px) {
  .search {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.search__input {
  height: 3.5rem;
  font-size: 1.6rem;
  border-radius: 10px 0 0 10px;
  width: 55%;
  border: 2px solid #fccb90;
}

@media (orientation: portrait) and (min-width: 359px) {
  .search__input {
    height: 3.8rem;
    font-size: 1.7rem;
    border-radius: 10px 0 0 10px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .search__input {
    height: 3.9rem;
    font-size: 1.8rem;
    border-radius: 10px 0 0 10px;
  }
}

@media (orientation: portrait) and (min-width: 639px) {
  .search__input {
    height: 4.7rem;
    font-size: 2.2rem;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 70%;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .search__input {
    height: 5rem;
    font-size: 2.4rem;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 70%;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .search__input {
    height: 5rem;
    font-size: 2.4rem;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 70%;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .search__input {
    height: 6.3rem;
    font-size: 3rem;
    border-radius: 10px;
    margin-bottom: 40px;
  }
}

@media (orientation: landscape) and (min-width: 1439px) {
  .search__input {
    height: 4.5rem;
    font-size: 3rem;
    border-radius: 10px 0 0 10px;
    margin-bottom: 0;
    width: 50%;
  }
}

.search__input::-webkit-input-placeholder {
  padding-left: 10px;
  font-size: 1.6rem;
  font-weight: 600;
}

.search__input:-ms-input-placeholder {
  padding-left: 10px;
  font-size: 1.6rem;
  font-weight: 600;
}

.search__input::-ms-input-placeholder {
  padding-left: 10px;
  font-size: 1.6rem;
  font-weight: 600;
}

.search__input::placeholder {
  padding-left: 10px;
  font-size: 1.6rem;
  font-weight: 600;
}

@media (orientation: portrait) and (min-width: 359px) {
  .search__input::-webkit-input-placeholder {
    font-size: 1.7rem;
  }
  .search__input:-ms-input-placeholder {
    font-size: 1.7rem;
  }
  .search__input::-ms-input-placeholder {
    font-size: 1.7rem;
  }
  .search__input::placeholder {
    font-size: 1.7rem;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .search__input::-webkit-input-placeholder {
    font-size: 1.8rem;
    line-height: 1;
  }
  .search__input:-ms-input-placeholder {
    font-size: 1.8rem;
    line-height: 1;
  }
  .search__input::-ms-input-placeholder {
    font-size: 1.8rem;
    line-height: 1;
  }
  .search__input::placeholder {
    font-size: 1.8rem;
    line-height: 1;
  }
}

@media (orientation: portrait) and (min-width: 639px) {
  .search__input::-webkit-input-placeholder {
    font-size: 2.2rem;
    letter-spacing: 2px;
  }
  .search__input:-ms-input-placeholder {
    font-size: 2.2rem;
    letter-spacing: 2px;
  }
  .search__input::-ms-input-placeholder {
    font-size: 2.2rem;
    letter-spacing: 2px;
  }
  .search__input::placeholder {
    font-size: 2.2rem;
    letter-spacing: 2px;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .search__input::-webkit-input-placeholder {
    font-size: 2.4rem;
  }
  .search__input:-ms-input-placeholder {
    font-size: 2.4rem;
  }
  .search__input::-ms-input-placeholder {
    font-size: 2.4rem;
  }
  .search__input::placeholder {
    font-size: 2.4rem;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .search__input::-webkit-input-placeholder {
    font-size: 3rem;
    letter-spacing: 2px;
  }
  .search__input:-ms-input-placeholder {
    font-size: 3rem;
    letter-spacing: 2px;
  }
  .search__input::-ms-input-placeholder {
    font-size: 3rem;
    letter-spacing: 2px;
  }
  .search__input::placeholder {
    font-size: 3rem;
    letter-spacing: 2px;
  }
}

@media (orientation: landscape) and (min-width: 1439px) {
  .search__input::-webkit-input-placeholder {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
  .search__input:-ms-input-placeholder {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
  .search__input::-ms-input-placeholder {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
  .search__input::placeholder {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
}

.search__input:focus {
  outline: none;
  border: 3px solid #f99c2d;
}

.search__btn {
  height: 3.5rem;
  font-size: 1.6rem;
  border-radius: 0 10px 10px 0;
  width: 25%;
  border: none;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search__btn:hover {
  background-image: none;
  background-color: #f99c2d;
  color: white;
}

.search__btn:focus {
  outline: none;
  background-image: none;
  background-color: #d57eeb;
  color: white;
}

@media (orientation: portrait) and (min-width: 359px) {
  .search__btn {
    height: 3.8rem;
    font-size: 1.7rem;
    border-radius: 0 10px 10px 0;
    font-weight: 600;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .search__btn {
    height: 3.9rem;
    font-size: 1.9rem;
    border-radius: 0 10px 10px 0;
    font-weight: 600;
  }
}

@media (orientation: portrait) and (min-width: 639px) {
  .search__btn {
    height: 4.7rem;
    font-size: 2.2rem;
    border-radius: 10px;
    letter-spacing: 2px;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .search__btn {
    height: 5rem;
    font-size: 2.4rem;
    border-radius: 10px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .search__btn {
    height: 5rem;
    font-size: 2rem;
    border-radius: 10px;
    width: 20%;
    letter-spacing: 2px;
    font-weight: bold;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .search__btn {
    height: 6.3rem;
    font-size: 3rem;
    border-radius: 10px;
    letter-spacing: 2px;
  }
}

@media (orientation: landscape) and (min-width: 1439px) {
  .search__btn {
    height: 4.5rem;
    font-size: 1.6rem;
    border-radius: 0 10px 10px 0;
    margin-bottom: 0;
    width: 10%;
  }
}
/*# sourceMappingURL=style.css.map */