@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 10px;
}

body {
  overflow-y: overlay;
  overflow-x: hidden;
}

.btn {
  border: none;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background-image: none;
  background-color: #f99c2d;
  color: white;
}

.btn:active {
  background-image: none;
  background-color: #fccb90;
  color: white;
}

.btn:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
  text-align: center;
  line-height: 2;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 7;
}

.modal__content {
  width: 90vw;
  height: 35vh;
  background-color: white;
  border-radius: 20px;
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.modal__header-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.4rem;
}

.modal__close {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}

.modal__close-btn {
  width: 23px;
  height: 23px;
  background-color: #f99c2d;
  border: 2px solid #f99c2d;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.modal__close-btn:focus {
  outline: none;
}

.modal__close-btn:active {
  background-color: #fbb45e;
}

.modal__body {
  padding: 10px 20px;
  font-size: 1.2rem;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d57eeb;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.header {
  position: relative;
  height: 100vh;
  background-image: url("../images/header-img-640x400.jpg");
  z-index: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

@media (orientation: portrait) and (min-width: 639px) {
  .header {
    background-image: url("../images/header-img-1280x800.jpg");
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .header {
    background-image: url("../images/header-img-1280x800.jpg");
  }
}

@media (orientation: portrait) and (min-width: 1199px) {
  .header {
    background-image: url("../images/header-img-1920x1200.jpg");
  }
}

@media (orientation: landscape) and (min-width: 1199px) {
  .header {
    background-image: url("../images/header-img-1920x1200.jpg");
  }
}

.header__color-opacity {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
}

.header__container {
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
}

@media (orientation: portrait) and (min-width: 767px) {
  .header__container {
    height: 72vh;
  }
}

.header__title {
  margin: 20px 5vw 0;
  font-family: "Bungee Outline", cursive;
  font-size: 4rem;
  line-height: 1;
  text-shadow: 0px 0px 10px #d57eeb;
}

@media (orientation: portrait) and (min-width: 359px) {
  .header__title {
    font-size: 4.8rem;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .header__title {
    font-size: 5rem;
  }
}

@media (orientation: portrait) and (min-width: 639px) {
  .header__title {
    font-size: 7rem;
    line-height: 1.5;
    letter-spacing: 4px;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .header__title {
    font-size: 8rem;
    line-height: 1.5;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .header__title {
    font-size: 7rem;
  }
}

.header__desc {
  width: 80%;
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: 2px;
}

.header__desc span {
  display: block;
  margin-bottom: 10px;
}

.header__desc span:nth-child(3), .header__desc span:nth-child(4) {
  font-size: 1.35rem;
  font-weight: 600;
}

@media (orientation: portrait) and (min-width: 359px) {
  .header__desc {
    font-size: 1.5rem;
  }
  .header__desc span {
    display: block;
    margin-bottom: 10px;
  }
  .header__desc span:nth-child(3), .header__desc span:nth-child(4) {
    font-size: 1.7rem;
    font-weight: 600;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .header__desc {
    font-size: 1.6rem;
  }
  .header__desc span {
    display: block;
    margin-bottom: 10px;
  }
  .header__desc span:nth-child(3), .header__desc span:nth-child(4) {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

@media (orientation: portrait) and (min-width: 639px) {
  .header__desc {
    font-size: 1.9rem;
  }
  .header__desc span {
    display: block;
    margin-bottom: 30px;
  }
  .header__desc span:nth-child(3), .header__desc span:nth-child(4) {
    font-size: 2.1rem;
    font-weight: 600;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .header__desc {
    font-size: 2rem;
  }
  .header__desc span {
    display: block;
    margin-bottom: 10px;
  }
  .header__desc span:nth-child(3), .header__desc span:nth-child(4) {
    font-size: 2.2rem;
    font-weight: 600;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .header__desc {
    font-size: 1.6rem;
  }
  .header__desc span {
    display: block;
    margin-bottom: 20px;
  }
  .header__desc span:nth-child(3), .header__desc span:nth-child(4) {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .header__desc {
    font-size: 2.2rem;
  }
  .header__desc span {
    display: block;
    margin-bottom: 50px;
  }
  .header__desc span:nth-child(3), .header__desc span:nth-child(4) {
    font-size: 2.4rem;
    font-weight: 600;
  }
}

.no-input::-webkit-input-placeholder {
  color: #eb1a5f;
}

.no-input:-ms-input-placeholder {
  color: #eb1a5f;
}

.no-input::-ms-input-placeholder {
  color: #eb1a5f;
}

.no-input::placeholder {
  color: #eb1a5f;
}

.no-input:focus::-webkit-input-placeholder {
  color: #777;
}

.no-input:focus:-ms-input-placeholder {
  color: #777;
}

.no-input:focus::-ms-input-placeholder {
  color: #777;
}

.no-input:focus::placeholder {
  color: #777;
}

.search {
  z-index: 3;
  position: absolute;
  top: 75vh;
  left: 0;
  height: 20vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (orientation: portrait) and (min-width: 359px) {
  .search {
    top: 73vh;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .search {
    top: 70vh;
  }
}

@media (orientation: portrait) and (min-width: 639px) {
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 70vh;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 68vh;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .search {
    top: 65vh;
  }
}

@media (orientation: landscape) and (min-width: 1365px) {
  .search {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.search__input {
  height: 3.5rem;
  font-size: 1.5rem;
  border-radius: 10px 0 0 10px;
  width: 55%;
  padding-left: 10px;
  border: 2px solid #fccb90;
}

@media (orientation: portrait) and (min-width: 359px) {
  .search__input {
    height: 3.8rem;
    font-size: 1.7rem;
    border-radius: 10px 0 0 10px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .search__input {
    height: 3.9rem;
    font-size: 1.8rem;
    border-radius: 10px 0 0 10px;
  }
}

@media (orientation: portrait) and (min-width: 639px) {
  .search__input {
    height: 4.7rem;
    font-size: 2.2rem;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 70%;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .search__input {
    height: 5rem;
    font-size: 2.4rem;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 70%;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .search__input {
    height: 5rem;
    font-size: 2.4rem;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 70%;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .search__input {
    height: 6.3rem;
    font-size: 2.4rem;
    border-radius: 10px;
    margin-bottom: 40px;
  }
}

@media (orientation: landscape) and (min-width: 1365px) {
  .search__input {
    height: 4.5rem;
    font-size: 2.4rem;
    border-radius: 10px 0 0 10px;
    margin-bottom: 0;
    width: 50%;
  }
}

.search__input::-webkit-input-placeholder {
  font-size: 1.6rem;
  font-weight: 600;
}

.search__input:-ms-input-placeholder {
  font-size: 1.6rem;
  font-weight: 600;
}

.search__input::-ms-input-placeholder {
  font-size: 1.6rem;
  font-weight: 600;
}

.search__input::placeholder {
  font-size: 1.6rem;
  font-weight: 600;
}

@media (orientation: portrait) and (min-width: 359px) {
  .search__input::-webkit-input-placeholder {
    font-size: 1.7rem;
  }
  .search__input:-ms-input-placeholder {
    font-size: 1.7rem;
  }
  .search__input::-ms-input-placeholder {
    font-size: 1.7rem;
  }
  .search__input::placeholder {
    font-size: 1.7rem;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .search__input::-webkit-input-placeholder {
    font-size: 1.8rem;
    line-height: 1;
  }
  .search__input:-ms-input-placeholder {
    font-size: 1.8rem;
    line-height: 1;
  }
  .search__input::-ms-input-placeholder {
    font-size: 1.8rem;
    line-height: 1;
  }
  .search__input::placeholder {
    font-size: 1.8rem;
    line-height: 1;
  }
}

@media (orientation: portrait) and (min-width: 639px) {
  .search__input::-webkit-input-placeholder {
    font-size: 2.2rem;
    letter-spacing: 2px;
  }
  .search__input:-ms-input-placeholder {
    font-size: 2.2rem;
    letter-spacing: 2px;
  }
  .search__input::-ms-input-placeholder {
    font-size: 2.2rem;
    letter-spacing: 2px;
  }
  .search__input::placeholder {
    font-size: 2.2rem;
    letter-spacing: 2px;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .search__input::-webkit-input-placeholder {
    font-size: 2.4rem;
  }
  .search__input:-ms-input-placeholder {
    font-size: 2.4rem;
  }
  .search__input::-ms-input-placeholder {
    font-size: 2.4rem;
  }
  .search__input::placeholder {
    font-size: 2.4rem;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .search__input::-webkit-input-placeholder {
    font-size: 3rem;
    letter-spacing: 2px;
  }
  .search__input:-ms-input-placeholder {
    font-size: 3rem;
    letter-spacing: 2px;
  }
  .search__input::-ms-input-placeholder {
    font-size: 3rem;
    letter-spacing: 2px;
  }
  .search__input::placeholder {
    font-size: 3rem;
    letter-spacing: 2px;
  }
}

@media (orientation: landscape) and (min-width: 1365px) {
  .search__input::-webkit-input-placeholder {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
  .search__input:-ms-input-placeholder {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
  .search__input::-ms-input-placeholder {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
  .search__input::placeholder {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
}

.search__input:focus {
  outline: none;
  border: 3px solid #f99c2d;
}

.search__btn {
  height: 3.5rem;
  font-size: 1.6rem;
  border-radius: 0 10px 10px 0;
  width: 25%;
}

@media (orientation: portrait) and (min-width: 359px) {
  .search__btn {
    height: 3.8rem;
    font-size: 1.7rem;
    border-radius: 0 10px 10px 0;
    font-weight: 600;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .search__btn {
    height: 3.9rem;
    font-size: 1.9rem;
    border-radius: 0 10px 10px 0;
    font-weight: 600;
  }
}

@media (orientation: portrait) and (min-width: 639px) {
  .search__btn {
    height: 4.7rem;
    font-size: 2.2rem;
    border-radius: 10px;
    letter-spacing: 2px;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .search__btn {
    height: 5rem;
    font-size: 2.4rem;
    border-radius: 10px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .search__btn {
    height: 5rem;
    font-size: 2rem;
    border-radius: 10px;
    width: 20%;
    letter-spacing: 2px;
    font-weight: bold;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .search__btn {
    height: 6.3rem;
    font-size: 3rem;
    border-radius: 10px;
    letter-spacing: 2px;
  }
}

@media (orientation: landscape) and (min-width: 1365px) {
  .search__btn {
    height: 4.5rem;
    font-size: 1.6rem;
    border-radius: 0 10px 10px 0;
    margin-bottom: 0;
    width: 10%;
  }
}

.select__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  margin: 80px auto 0;
}

@media (orientation: portrait) and (min-width: 359px) {
  .select__container {
    margin-top: 90px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .select__container {
    margin-top: 100px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .select__container {
    margin-top: 90px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (orientation: landscape) and (min-width: 767px) {
  .select__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .select__container {
    margin-top: 110px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .select__container {
    margin-top: 130px;
    width: 60%;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .select__container {
    margin-top: 150px;
    width: 60%;
  }
}

@media (orientation: landscape) and (min-width: 1199px) {
  .select__container {
    margin-top: 150px;
    width: 40%;
  }
}

@media (orientation: landscape) and (min-width: 1365px) {
  .select__container {
    margin-top: 110px;
  }
}

.select__title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-weight: bold;
}

@media (orientation: landscape) and (min-width: 639px) {
  .select__title {
    margin: 20px 0;
  }
}

@media (orientation: landscape) and (min-width: 767px) {
  .select__title {
    margin: 20px 0;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .select__title {
    margin: 20px 0 10px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .select__title {
    font-size: 1.6rem;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .select__title {
    font-size: 1.6rem;
  }
}

.select__list {
  height: 30px;
  font-size: 1.4rem;
  width: 100%;
}

.select__list:focus {
  outline: none;
}

@media (orientation: landscape) and (min-width: 639px) {
  .select__list {
    width: 70%;
    margin: 20px 0 20px 20px;
  }
}

@media (orientation: landscape) and (min-width: 767px) {
  .select__list {
    width: 70%;
    margin: 20px 0 20px 30px;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .select__list {
    width: 70%;
    margin: 20px 0 10px 30px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .select__list {
    font-size: 1.6rem;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .select__list {
    font-size: 1.6rem;
  }
}

.movies {
  list-style: none;
}

@media (orientation: portrait) and (min-width: 767px) {
  .movies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .movies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.movies__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px auto;
  height: 85vh;
  width: 90%;
  border: #fccb90 2px solid;
  padding: 5px;
}

@media (orientation: portrait) and (min-width: 410px) {
  .movies__container {
    border-width: 3px;
    width: 85%;
    height: 85vh;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .movies__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    place-items: center center;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .movies__container {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    place-items: center center;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .movies__container {
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
    height: 55vh;
  }
}

@media (orientation: landscape) and (min-width: 767px) {
  .movies__container {
    width: 80%;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .movies__container {
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (orientation: landscape) and (min-width: 1199px) {
  .movies__container {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    height: 70vh;
  }
}

@media (orientation: landscape) and (min-width: 1365px) {
  .movies__container {
    -ms-flex-preferred-size: 28%;
        flex-basis: 28%;
    height: 83vh;
    margin-top: 30px;
  }
}

.movies__title {
  font-size: 2.5rem;
  margin-top: 10px;
  text-align: center;
}

@media (orientation: portrait) and (min-width: 410px) {
  .movies__title {
    font-size: 2.7rem;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .movies__title {
    font-size: 3rem;
  }
}

@media (orientation: landscape) and (min-width: 1199px) {
  .movies__title {
    font-size: 2.5rem;
    margin-top: 0;
  }
}

@media (orientation: landscape) and (min-width: 1365px) {
  .movies__title {
    margin-top: 10px;
  }
}

.movies__type {
  position: absolute;
  top: -6px;
  padding: 0 10px;
  font-size: 1.2rem;
  background-color: white;
  color: #f99c2d;
  letter-spacing: 2px;
  font-weight: bold;
}

@media (orientation: portrait) and (min-width: 410px) {
  .movies__type {
    font-size: 1.4rem;
    top: -7px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .movies__type {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.movies__year {
  font-size: 1.7rem;
}

@media (orientation: landscape) and (min-width: 639px) {
  .movies__year {
    font-size: 2rem;
  }
}

.movies__poster {
  height: 60%;
  max-width: 80%;
  -webkit-box-shadow: 0 0 6px 4px #ddd;
          box-shadow: 0 0 6px 4px #ddd;
}

@media (orientation: landscape) and (min-width: 410px) {
  .movies__poster {
    height: 90%;
    max-width: 90%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 5;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .movies__poster {
    height: 90%;
    max-width: 90%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 5;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .movies__poster {
    height: 50%;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .movies__poster {
    height: 60%;
  }
}

.movies__btn {
  width: 40%;
  height: 30px;
  font-size: 1.4rem;
  border-radius: 10px;
}

@media (orientation: portrait) and (min-width: 359px) {
  .movies__btn {
    height: 35px;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: bold;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .movies__btn {
    width: 55%;
  }
}

.movies__rate-and-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movies__btn--rate {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-left: 15px;
  text-transform: uppercase;
  background-color: white;
  background-image: none;
  border: 3px solid #fbb45e;
  color: #fbb45e;
  font-weight: bold;
  letter-spacing: 2px;
}

.movies__rate-sent {
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: #faa846;
}

.movies__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  font-size: 2.5rem;
  list-style: none;
  color: #f99c2d;
}

@media (orientation: portrait) and (min-width: 359px) {
  .movies__stars {
    height: 35px;
    font-size: 2.7rem;
  }
}

.search-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  z-index: 1;
  background-color: white;
}

@media (orientation: landscape) and (min-width: 410px) {
  .search-bar {
    height: 20vh;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .search-bar {
    height: 15vh;
  }
}

@media (orientation: landscape) and (min-width: 1199px) {
  .search-bar {
    height: 12vh;
  }
}

.search-bar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-shadow: 0 0 6px 10px #ddd;
          box-shadow: 0 0 6px 10px #ddd;
}

.search-bar__logo {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-left: 10px;
  font-family: "Bungee Outline", cursive;
  font-size: 2.3rem;
  color: #d57eeb;
  text-shadow: 0 0 4px #ddd;
  text-align: center;
}

@media (orientation: landscape) and (min-width: 410px) {
  .search-bar__logo {
    font-size: 3rem;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .search-bar__logo {
    font-size: 2.8rem;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .search-bar__logo {
    font-size: 4rem;
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .search-bar__logo {
    font-size: 5rem;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .search-bar__logo {
    font-size: 5.2rem;
  }
}

.search-bar .search {
  position: inherit;
  height: 100%;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

@media (orientation: portrait) and (min-width: 767px) {
  .search-bar .search {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .search-bar .search {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.search-bar .search__input {
  height: 25px;
  font-size: 1.2rem;
  border-radius: 10px 0 0 10px;
}

.search-bar .search__input::-webkit-input-placeholder {
  font-size: 1.2rem;
}

.search-bar .search__input:-ms-input-placeholder {
  font-size: 1.2rem;
}

.search-bar .search__input::-ms-input-placeholder {
  font-size: 1.2rem;
}

.search-bar .search__input::placeholder {
  font-size: 1.2rem;
}

@media (orientation: landscape) and (min-width: 410px) {
  .search-bar .search__input::-webkit-input-placeholder {
    font-size: 1.4rem;
  }
  .search-bar .search__input:-ms-input-placeholder {
    font-size: 1.4rem;
  }
  .search-bar .search__input::-ms-input-placeholder {
    font-size: 1.4rem;
  }
  .search-bar .search__input::placeholder {
    font-size: 1.4rem;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .search-bar .search__input::-webkit-input-placeholder {
    font-size: 1.5rem;
  }
  .search-bar .search__input:-ms-input-placeholder {
    font-size: 1.5rem;
  }
  .search-bar .search__input::-ms-input-placeholder {
    font-size: 1.5rem;
  }
  .search-bar .search__input::placeholder {
    font-size: 1.5rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .search-bar .search__input::-webkit-input-placeholder {
    font-size: 1.8rem;
  }
  .search-bar .search__input:-ms-input-placeholder {
    font-size: 1.8rem;
  }
  .search-bar .search__input::-ms-input-placeholder {
    font-size: 1.8rem;
  }
  .search-bar .search__input::placeholder {
    font-size: 1.8rem;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .search-bar .search__input::-webkit-input-placeholder {
    font-size: 1.8rem;
  }
  .search-bar .search__input:-ms-input-placeholder {
    font-size: 1.8rem;
  }
  .search-bar .search__input::-ms-input-placeholder {
    font-size: 1.8rem;
  }
  .search-bar .search__input::placeholder {
    font-size: 1.8rem;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .search-bar .search__input {
    height: 30px;
    font-size: 1.4rem;
    border-radius: 10px 0 0 10px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .search-bar .search__input {
    height: 33px;
    font-size: 1.6rem;
    border-radius: 10px 0 0 10px;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .search-bar .search__input {
    margin-bottom: 0;
    width: 60%;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .search-bar .search__input {
    margin-bottom: 0;
    width: 60%;
    height: 40px;
    font-size: 1.8rem;
    border-radius: 10px 0 0 10px;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .search-bar .search__input {
    height: 40px;
    font-size: 1.8rem;
    border-radius: 10px 0 0 10px;
  }
}

.search-bar .search__btn {
  height: 25px;
  font-size: 1.2rem;
  border-radius: 0 10px 10px 0;
}

@media (orientation: landscape) and (min-width: 410px) {
  .search-bar .search__btn {
    height: 30px;
    font-size: 1.4rem;
    border-radius: 0 10px 10px 0;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .search-bar .search__btn {
    height: 33px;
    font-size: 1.5rem;
    border-radius: 0 10px 10px 0;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .search-bar .search__btn {
    height: 40px;
    font-size: 1.8rem;
    border-radius: 0 10px 10px 0;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .search-bar .search__btn {
    height: 40px;
    font-size: 1.8rem;
    border-radius: 0 10px 10px 0;
  }
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto 10px;
  padding: 7px;
  background-color: #fbb45e;
  border: 2px solid #fbb45e;
  border-radius: 25px;
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}

@media (orientation: landscape) and (min-width: 410px) {
  .back {
    position: absolute;
    margin: 0;
    top: 10px;
    left: 1.5%;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .back {
    left: 3%;
  }
}

.back__icon {
  padding-right: 7px;
  font-size: 2.5rem;
}

@media (orientation: landscape) and (min-width: 410px) {
  .back__icon {
    padding-right: 0;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .back__icon {
    padding-right: 6px;
  }
}

.logo-back {
  height: 10vh;
  -webkit-box-shadow: 0 0 6px 10px #ddd;
          box-shadow: 0 0 6px 10px #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  margin-bottom: 50px;
}

.logo-back__logo {
  font-family: "Bungee Outline", cursive;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  font-size: 4rem;
  margin-top: 10px;
  color: white;
  text-shadow: 0 0 5px #b826dd;
}

@media (orientation: landscape) and (min-width: 1023px) {
  .logo-back__logo {
    margin-top: 0;
    letter-spacing: 2px;
    text-align: right;
    margin-right: 100px;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .logo-back__logo {
    font-size: 5rem;
  }
}

@media (orientation: landscape) and (min-width: 1199px) {
  .logo-back__logo {
    font-size: 5rem;
  }
}

.logo-back__btn {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

@media (orientation: landscape) and (min-width: 1023px) {
  .logo-back__btn {
    margin-top: 5px;
    margin-left: 40px;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .logo-back__btn {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    font-size: 1.7rem;
    margin-left: 80px;
  }
}

@media (orientation: landscape) and (min-width: 1199px) {
  .logo-back__btn {
    font-size: 1.9rem;
    margin-top: 18px;
    margin-left: 60px;
  }
}

@media (orientation: landscape) and (min-width: 1365px) {
  .logo-back__btn {
    margin-top: 7px;
    margin-left: 80px;
  }
}

.logo-back__btn:active {
  outline: none;
}

@media (orientation: landscape) and (min-width: 1365px) {
  .logo-back__btn:hover, .logo-back__btn:active {
    background-color: #fde2c2;
    color: black;
  }
}

.movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85vw;
  margin: 30px auto 20px;
  padding: 0 15px 15px;
  border: 2px solid #d57eeb;
  background-color: #faf1fd;
}

@media (orientation: landscape) and (min-width: 410px) {
  .movie {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 20vh 45vh 24vh 25vh 50vh;
        grid-template-rows: 20vh 45vh 24vh 25vh 50vh;
    width: 90vw;
    height: 100%;
    margin-top: 30px;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .movie {
    -ms-grid-rows: 20vh 45vh 24vh 25vh 44vh;
        grid-template-rows: 20vh 45vh 24vh 25vh 44vh;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .movie {
    height: 70vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 5vh 2vh 30vh 12vh 12vh 10vh;
        grid-template-rows: 5vh 2vh 30vh 12vh 12vh 10vh;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .movie {
    -ms-grid-rows: 7vh 3vh 40vh 12vh 9vh 9vh;
        grid-template-rows: 7vh 3vh 40vh 12vh 9vh 9vh;
    margin-top: -20px;
    height: 82vh;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .movie {
    -ms-grid-rows: 5vh 2vh 25vh 10vh 12vh 8vh;
        grid-template-rows: 5vh 2vh 25vh 10vh 12vh 8vh;
    height: 65vh;
    margin-top: 70px;
    width: 80vw;
  }
}

@media (orientation: landscape) and (min-width: 1199px) {
  .movie {
    -ms-grid-rows: 10vh 3vh 30vh 15vh 12vh 8vh;
        grid-template-rows: 10vh 3vh 30vh 15vh 12vh 8vh;
    width: 70vw;
    height: 80vh;
  }
}

@media (orientation: landscape) and (min-width: 1365px) {
  .movie {
    -ms-grid-columns: 40% 30% 30%;
        grid-template-columns: 40% 30% 30%;
    -ms-grid-rows: 10vh 3vh 22vh 22vh 12vh;
        grid-template-rows: 10vh 3vh 22vh 22vh 12vh;
    height: 70vh;
  }
}

.movie__title {
  font-size: 2.5rem;
  margin: -15px 0 5px;
  padding: 0 5px;
  background-color: white;
  border-radius: 10px;
  color: #d57eeb;
  text-align: center;
}

@media (orientation: landscape) and (min-width: 410px) {
  .movie__title {
    background-color: transparent;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    padding: 0;
    margin: 0;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .movie__title {
    height: 100%;
    max-width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
    background-color: transparent;
    margin-top: 30px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .movie__title {
    margin-top: 20px;
    height: 100%;
    max-width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .movie__title {
    margin-top: 30px;
    font-size: 3rem;
  }
}

@media (orientation: landscape) and (min-width: 1199px) {
  .movie__title {
    margin-top: 40px;
    font-size: 3.2rem;
  }
}

@media (orientation: landscape) and (min-width: 1365px) {
  .movie__title {
    height: 100%;
    max-width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
  }
}

.movie__type {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 5px;
}

@media (orientation: landscape) and (min-width: 410px) {
  .movie__type {
    padding-left: 10px;
    display: none;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .movie__type {
    text-align: left;
    height: 50%;
    max-width: 100%;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 10px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .movie__type {
    display: block;
    height: 100%;
    max-width: 100%;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media (orientation: landscape) and (min-width: 1199px) {
  .movie__type {
    margin-top: 20px;
    padding-left: 5px;
  }
}

.movie__poster {
  width: 70%;
  -webkit-box-shadow: 0 0 6px 3px #ddd;
          box-shadow: 0 0 6px 3px #ddd;
}

@media (orientation: landscape) and (min-width: 410px) {
  .movie__poster {
    height: 90%;
    max-width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 4;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .movie__poster {
    height: auto;
    max-width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
    width: 90%;
    margin-left: 7px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .movie__poster {
    height: 95%;
    max-width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
    width: auto;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .movie__poster {
    height: 95%;
    max-width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
    width: auto;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (orientation: landscape) and (min-width: 1199px) {
  .movie__poster {
    height: 100%;
    max-width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
    width: auto;
  }
}

.movie__description {
  margin: 10px 0 10px;
  font-size: 1.3rem;
  text-align: justify;
  font-weight: bold;
}

@media (orientation: landscape) and (min-width: 410px) {
  .movie__description {
    padding: 0 10px;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .movie__description {
    height: auto;
    max-width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    padding: 0 10px;
    font-size: 1.5rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .movie__description {
    height: auto;
    max-width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    padding: 0 20px;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .movie__description {
    margin: 0 80px;
    line-height: 2;
  }
}

@media (orientation: landscape) and (min-width: 1199px) {
  .movie__description {
    margin: 0 80px 0 60px;
  }
}

@media (orientation: landscape) and (min-width: 1365px) {
  .movie__description {
    height: 100%;
    max-width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 6;
    width: 100%;
    text-align: center;
    padding: 30px;
    margin: 0;
  }
}

.movie__user-rate-title {
  margin-bottom: 6px;
}

@media (orientation: landscape) and (min-width: 1023px) {
  .movie__user-rate-title {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    text-align: right;
  }
}

.movie__user-rate button {
  width: 60px;
  background-color: #fbb45e;
  border: 2px solid #fbb45e;
  color: white;
  border-radius: 15px;
}

@media (orientation: portrait) and (min-width: 767px) {
  .movie__user-rate {
    height: 100%;
    max-width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 7;
    padding-top: 10px;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .movie__user-rate {
    height: 100%;
    max-width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (orientation: landscape) and (min-width: 1365px) {
  .movie__user-rate {
    height: 100%;
    max-width: 100%;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (orientation: landscape) and (min-width: 1365px) {
  .movie__user-rate-title {
    margin-top: 20px;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

.movie__information, .movie__rates, .movie__user-rate {
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: center;
}

.movie__information p, .movie__rates p, .movie__user-rate p {
  margin-top: 7px;
}

@media (orientation: landscape) and (min-width: 410px) {
  .movie__information {
    height: 90%;
    max-width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 1.1rem;
    width: 50%;
  }
}

@media (orientation: landscape) and (min-width: 639px) {
  .movie__information {
    font-size: 1.2rem;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .movie__information {
    height: auto;
    max-width: 100%;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    padding: 0 10px;
    text-align: left;
    font-size: 1.3rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .movie__information {
    height: 100%;
    max-width: 100%;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    display: block;
    text-align: left;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .movie__information {
    font-size: 1.4rem;
  }
}

@media (orientation: landscape) and (min-width: 1365px) {
  .movie__information {
    height: 100%;
    max-width: 100%;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
    width: 100%;
    margin-top: 30px;
  }
}

@media (orientation: landscape) and (min-width: 1199px) {
  .movie__information-title {
    padding-left: 5px;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .movie__information p {
    padding: 0 5px;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .movie__rates {
    height: 100%;
    max-width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 10px;
    border-top: 2px solid #ebc0f5;
    border-bottom: 2px solid #ebc0f5;
  }
}

@media (orientation: portrait) and (min-width: 767px) {
  .movie__rates {
    height: auto;
    max-width: 100%;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
    text-align: left;
    padding: 0 10px;
    font-size: 1.3rem;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .movie__rates {
    height: 100%;
    max-width: 100%;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
    display: block;
    text-align: left;
    border: none;
    padding: 0 5px;
  }
}

@media (orientation: portrait) and (min-width: 1023px) {
  .movie__rates {
    font-size: 1.4rem;
  }
}

@media (orientation: landscape) and (min-width: 1365px) {
  .movie__rates {
    height: 100%;
    max-width: 100%;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
  }
}

@media (orientation: landscape) and (min-width: 410px) {
  .movie__rates-title {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    line-height: 4;
    height: 100%;
    width: 50%;
  }
}

@media (orientation: landscape) and (min-width: 1023px) {
  .movie__rates-title {
    line-height: 1;
    margin-bottom: 0;
    height: 12%;
  }
}

@media (orientation: landscape) and (min-width: 1365px) {
  .movie__rates-title {
    height: 7%;
  }
}

.movie span {
  font-weight: bold;
  color: #f99c2d;
}
/*# sourceMappingURL=style.css.map */